<li class='each-opinion' id="opinion-<%= opinion.id %>">
  <%= avatar_for(opinion.author) %>
  <div class='w-100'>
    <div class='author'>
      <p class="name"><%= opinion.author.fullname %></p>
      <p class="time"><%= time_ago_in_words(opinion.created_at) %></p>
    </div>
    <div class='author'>
      <p class="text mt-1"><%= opinion.text %></p>
      <%= delete(opinion) %>
    </div>
  </div>
</li>
