<li class='each-opinion' id="opinion-<%= opinion.id %>">
  <%= link_to avatar_for(opinion.author), opinion.author %>
  <div class='w-100'>
    <div class='author'>
      <p class="name"><%= link_to opinion.author.fullname, opinion.author %></p>
      <p class="time"><%= time_ago_in_words(opinion.created_at) %></p>
    </div>
    <div class='author'>
      <p class="text mt-1"><%= opinion.text %></p>
      <%= delete(opinion) %>
    </div>
  </div>
</li>
