<div class='wrap-profile'>
  <div class="profile-info">
    <%= avatar_for(@user) %>
    <p><%= @user.fullname %></p>
    <p>@<%= @user.username %></p>
  </div>
  <div class="profile-stats row">
    <p class="stat"> <strong> <%= @user.opinions.count%> </strong><%= tweets(@user) %> </p>
    <a href="<%= following_user_path(@user) %>" class="stat"> 
      <strong id="following"> <%= @user.following.count %> </strong> Following
    </a>
    <a href="<%= followers_user_path(@user) %>" class="stat">
      <strong id="followers"> <%= @user.followers.count %> </strong>Followers
    </a>
  </div>
</div>