<div class='twitter-ish row'>
  <%= render 'left_menu' %>
  <section class='main col-10 p-0'>
    <%= render 'top_nav' %>
    <div class="twitter-ish row">

      <section class='timeline col-9 p-0'>
        <ul class='tab p-0'>
          <li class="tab-link m-0"><%= link_to 'Tweets', '#' %></li>
          <li class="tab-link m-0"><%= link_to 'Following', '#' %></li>
          <li class="tab-link m-0"><%= link_to 'Followers', '#' %></li>
        </ul>
        
        <div class='tweets'>
          <ul class="wrap-tweets">
            <li class="index">All Tweets</li>
          </ul>
        </div>
      </section>

      <section class='suggested col-3 p-0'>
        <ul class='wrap-handles'>
            <li class='followers'>Who to follow</li>
            <% @users.each do |user| %>
              <li class='handle'>
                <%= avatar_for user %>
                <div>
                  <p class="name"><%= user.fullname %></p>
                  <p class="username">&#64;<%= user.username %></p>
                </div>
                <%= link_to image_tag('add.png', class: 'btn-icon'), '#', class: 'add-btn' %>
              </li>
            <% end %>
        </ul>
      </section>

    </div>
  </section>
</div>
