<div class='twitter-ish row'>

  <%= render 'shared/left_menu' %>

  <section class='main col-10 p-0'>

    <%= render 'shared/top_nav' %>

    <div class="twitter-ish row">
      <section class='timeline col-9 p-0'>
        <ul class='tab p-0'>
          <li class="tab-link m-0"><%= link_to 'Tweets', '#' %></li>
        </ul>

        <%= render 'shared/opinion_form' %>
        
        <%= render 'shared/timeline' %>
      </section>

      <section class='suggested col-3 p-0'>
        <ul class='wrap-handles'>
          <li class='followers'>Who to follow</li>
          <%= render @users %>
        </ul>
      </section>
    </div>

  </section>
</div>
