<div class='twitter-ish row'>

  <%= render 'shared/left_menu' %>

  <section class='main col-10 p-0'>

    <%= render 'shared/top_nav' %>

    <div class="twitter-ish row">
      <section class='timeline col-9 p-0'>
        <div class='cover-image'>
          <%= cover_image_for(@user) %>
        </div>
        <ul class='tab p-0'>
          <li class="tab-link m-0"><%= link_to 'Tweets', '#' %></li>
          <li class="tab-link m-0"><%= link_to 'Following', '#' %></li>
          <li class="tab-link m-0"><%= link_to 'Followers', '#' %></li>
        </ul>
        <%= render 'shared/timeline' %>
      </section>

      <section class='suggested col-3 p-0'>
        <div class='wrap-profile'>
          <div class="profile-info">
            <%= avatar_for(@user) %>
            <p><%= @user.fullname %></p>
            <p>@<%= @user.username %></p>
          </div>
          <div class="profile-stats row">
            <p class="stat"> <strong> <%= @user.opinions.count%> </strong><%= tweets(@user) %> </p>
            <a href="#" class="stat"> <strong id="following"> 100 </strong>Following</a>
            <a href="#" class="stat"> <strong id="followers"> 1000 </strong>Followers </a>
          </div>
        </div>
        <ul class='wrap-handles'>
            <li class='followers'>Followed by</li>
            <%= render 'user', user: @user %>
        </ul>
      </section>

    </div>
  </section>
</div>
