<div class='twitter-ish row'>

  <%= render 'shared/left_menu' %>

  <section class='main col-10 p-0'>

    <%= render 'shared/top_nav' %>

    <div class="twitter-ish row">
      <section class='timeline col-9 p-0'>
        <div class='cover-image'>
          <%= cover_image_for(@user) %>
        </div>
        <ul class='tab p-0'>
          <li class="tab-link m-0"><%= link_to 'Tweets', '#' %></li>
          <li class="tab-link m-0"><%= link_to 'Following', following_user_path(@user) %></li>
          <li class="tab-link m-0"><%= link_to 'Followers', followers_user_path(@user) %></li>
        </ul>
        <%= render 'shared/timeline' %>
      </section>

      <section class='suggested col-3 p-0'>
        <%= render 'profile_stats' %>
        <ul class='wrap-handles'>
            <li class='followers'>Followed by</li>
            <%= render @users %>
        </ul>
      </section>

    </div>
  </section>
</div>
