<ul class="app-nav p-0">
  <li>
    <%= link_to users_path do %>
      <%= image_tag("home.svg", class: 'nav-icon') %> Home
    <% end %>
  </li>

  <li>
    <%= link_to following_user_path(current_user) do %>
      <%= image_tag("mention.png", class: 'nav-icon') %> Connect
    <% end %>
  </li>

  <li>
    <%= link_to followers_user_path(current_user) do %>
      <%= image_tag("stats.png", class: 'nav-icon') %> Statistics
    <% end %>
  </li>

  <li>
    <%= link_to current_user do %>
      <%= image_tag("profile.png", class: 'nav-icon') %> Profile
    <% end %>
  </li>

  <li>
    <%= link_to logout_path, method: :delete, data: {confirm: "Log out from Twitter-ish?"} do %>
      <%= image_tag("logout.png", class: 'nav-icon') %> Log Out
    <% end %>
  </li>
</ul>