<nav class="navbar sticky-top">
  <div class="container">
    <%= image_tag("twitter.svg", alt: "Twitter-ish logo", width: '30') %>
    <ul class='navbar navbar-right'>
      <li><%= link_to image_tag("pencil.png", alt: "twitter-ish pencil", class: 'top-icons'), '#' %></li>
      <li><%= link_to image_tag("mail.png", alt: "twitter-ish mail", class: 'top-icons'), '#' %></li>
      <li><%= link_to image_tag("search.svg", alt: "twitter-ish search", class: 'top-icons'), '#' %></li>
      <li><%= link_to image_tag("settings.svg", alt: "twitter-ish settings", class: 'top-icons'), edit_user_path(current_user) %></li>
    </ul>
  </div>
</nav>